* {
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

.page__body{
    margin: 0;
    font-family: var(--font-family);
}
.page-header{
    padding-top: 32px;
padding-bottom: 32px;
text-align: center;
}
.nav-bar{
    display: inline-block;
    margin-left: 72px;
    vertical-align: top;
}
.nav-list{
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.nav-item{
    display: inline-block;
    margin-left: 72px;
}
.nav-link{
font-weight: 400;
font-size: 18px;
line-height: 135%;
text-align: center;
color: #000; 
}
.image-container{
    padding-top: 92px;
    padding-bottom: 92px;
    text-align: center;
    background:  #00bdc9;
}
.content{
display: flex;
padding-top: 88px;
padding-bottom: 88px;
flex-direction: column;
align-items: center;
margin-left: 20%;
margin-right: 20%;
}
.title{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    }
.text{
padding-top: 40px;
padding-bottom: 40px;
font-weight: 500;
font-size: 21px;
line-height: 150%;
color: #161616;
}
.highlighted-text{
    color: #04959E;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}
.desc{
margin-top: 24px;
font-weight: 400;
font-size: 18px;
line-height: 150%;
color: #161616;
}
.btn{
padding: 10px 24px;
font-weight: 400;
font-size: 18px;
line-height: 135%;
text-align: center;
color: #fff;
background: #04959e;
}
.footer{
    font-family: Inter;
    border-block-start: 3px solid #263238;
    padding: 16px 0px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #3d3d3d; 
}